.form__button {
    background: rgb(137, 137, 232);
    color: white;
    margin-left: 5px;
}

.form__button:hover {
    background: hsl(240, 67%, 62%);
}

.form {
    background: hsl(240, 67%, 90%);
}

.form__legend {
    padding: 5px;
    background: rgb(137, 137, 232);
    color: white;
    width: 100%;
}

.form__fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form__label {
    padding: 5px;
}

.form__result {
    margin-left: 5px;
}